
@{
    ViewBag.Title = "Index";
}

<style>
    .divOuterTileDashboard {
        height: 120px;
        width: 200px;
        color: white;
        align-content: center;
        padding-left: 20px;
        padding-top: 20px;
    }
    .divInnerTileDashboard {
        padding-left: 56px;
        padding-bottom: 20px;
    }
</style>
<h2>Welcome to Dashboard</h2>
<div class="row">
    <div class="divOuterTileDashboard" style="background-color:forestgreen;">
        <h4>Review Appointment</h4>
        <div class="divInnerTileDashboard"><h3><a style="color:white;" href="#">10</a></h3></div>
    </div>

    <div class="divOuterTileDashboard" style="background-color:dodgerblue;">
        <h4>New Appointment</h4>
        <div class="divInnerTileDashboard"><h3><a style="color:white;" href="#">10</a></h3></div>
    </div>

    <div class="divOuterTileDashboard" style="background-color:orange;">
        <h4>Total Appointment</h4>
        <div class="divInnerTileDashboard"><h3><a style="color:white;" href="#">10</a></h3></div>
    </div>
</div>