USE [master]
GO
/****** Object:  Database [HospitalManagement]    Script Date: 7/9/2022 6:58:44 AM ******/
CREATE DATABASE [HospitalManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HospitalManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HospitalManagement.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HospitalManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\HospitalManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HospitalManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HospitalManagement]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 7/9/2022 6:58:44 AM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [IIS APPPOOL]    Script Date: 7/9/2022 6:58:44 AM ******/
CREATE USER [IIS APPPOOL] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[db_accessadmin]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NT AUTHORITY\NETWORK SERVICE]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL]
GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 7/9/2022 6:58:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Split](@String varchar(MAX), @Delimiter char(1))       
returns @temptable TABLE (items varchar(MAX))       
as       
begin      
    declare @idx int       
    declare @slice varchar(8000)       

    select @idx = 1       
        if len(@String)<1 or @String is null  return       

    while @idx!= 0       
    begin       
        set @idx = charindex(@Delimiter,@String)       
        if @idx!=0       
            set @slice = left(@String,@idx - 1)       
        else       
            set @slice = @String       

        if(len(@slice)>0)  
            insert into @temptable(Items) values(@slice)       

        set @String = right(@String,len(@String) - @idx)       
        if len(@String) = 0 break       
    end   
return 
end;

GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/9/2022 6:58:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[DrId] [int] NULL,
	[PatId] [int] NULL,
	[TotalAmount] [float] NULL,
	[DR_Percentage] [int] NULL,
	[Referal_Percentage] [int] NULL,
	[NetAmount] [float] NULL,
	[Createdby] [int] NULL,
	[UpdatedBy] [int] NULL,
	[Createddate] [datetime] NULL,
	[Updateddate] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[AppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[PId] [int] NULL,
	[Did] [int] NULL,
	[DateOfAppointment] [datetime] NULL,
	[TimeOfAppointment] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[UpdationDate] [datetime] NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[AppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[ContactName] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[EmailId] [nvarchar](50) NULL,
	[PhoneNo1] [nvarchar](50) NULL,
	[PhoneNo2] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiognasisTest]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiognasisTest](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[IsChecked] [bit] NOT NULL CONSTRAINT [DF_DiognasisTest_IsChecked]  DEFAULT ((1)),
 CONSTRAINT [PK_DiognasisTest] PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Diseasses]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseasses](
	[DisseasesId] [int] IDENTITY(1,1) NOT NULL,
	[DisseaseName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_Diseasses] PRIMARY KEY CLUSTERED 
(
	[DisseasesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[Qualification] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Specialist] [nvarchar](50) NULL,
	[Photo] [nvarchar](max) NULL,
	[Date_of_joining] [datetime] NULL,
	[Address] [nvarchar](50) NULL,
	[Timing] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdationDate] [datetime] NULL,
 CONSTRAINT [PK_Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DosesDetail]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DosesDetail](
	[DoseId] [int] IDENTITY(1,1) NOT NULL,
	[DosesName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DosesDetail] PRIMARY KEY CLUSTERED 
(
	[DoseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GeneralPrescriptiom]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralPrescriptiom](
	[Rpid] [int] IDENTITY(1,1) NOT NULL,
	[Pid] [int] NULL,
	[AppointmentId] [int] NULL,
	[Did] [int] NULL,
	[PTName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Gender]  DEFAULT (' '),
	[Age] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Age]  DEFAULT (' '),
	[Ht] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Ht]  DEFAULT (' '),
	[WT] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_WT]  DEFAULT (' '),
	[ReferBy] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_ReferBy]  DEFAULT (' '),
	[Complain] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Complain]  DEFAULT (' '),
	[History] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_History]  DEFAULT (' '),
	[Dx] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Dx]  DEFAULT (' '),
	[Investigation] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Investigation]  DEFAULT (' '),
	[Advice] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Advice]  DEFAULT (' '),
	[GC] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_GC]  DEFAULT (' '),
	[Temp] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_Temp]  DEFAULT (' '),
	[PR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_PR]  DEFAULT (' '),
	[LR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_LR]  DEFAULT (' '),
	[BP] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_BP]  DEFAULT (' '),
	[SPO2] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_SPO2]  DEFAULT (''),
	[PA] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_PA]  DEFAULT (''),
	[CNS] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_CNS]  DEFAULT (''),
	[GRBS] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_GRBS]  DEFAULT (''),
	[Review] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Review]  DEFAULT (''),
	[Emergency] [nvarchar](max) NULL CONSTRAINT [DF_GeneralPrescriptiom_Emergency]  DEFAULT (''),
	[HR] [nvarchar](50) NULL CONSTRAINT [DF_GeneralPrescriptiom_HR]  DEFAULT (''),
	[CreatedBy] [int] NULL CONSTRAINT [DF_GeneralPrescriptiom_CreatedBy]  DEFAULT ((0)),
	[CreatedDatetime] [datetime] NULL CONSTRAINT [DF_GeneralPrescriptiom_CreatedDatetime]  DEFAULT (NULL),
	[UpdatedBy] [int] NULL CONSTRAINT [DF_GeneralPrescriptiom_UpdatedBy]  DEFAULT ((0)),
	[Updateddatetime] [datetime] NULL CONSTRAINT [DF_GeneralPrescriptiom_Updateddatetime]  DEFAULT (NULL),
 CONSTRAINT [PK_GeneralPrescriptiom] PRIMARY KEY CLUSTERED 
(
	[Rpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvestigationDetails]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvestigationDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Invistagation] [nvarchar](max) NULL,
 CONSTRAINT [PK_InvestigationDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NULL,
	[Formula] [nvarchar](max) NULL,
	[DisseaseId] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[Updationdate] [datetime] NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[MId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notepad]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notepad](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](max) NULL,
	[TopicContent] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notepad] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patient]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[PName] [nvarchar](50) NULL,
	[PatientType] [int] NULL,
	[ReferBy] [nvarchar](50) NULL,
	[Age] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](50) NULL,
	[MobileNo] [nvarchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Date_of_Admission] [datetime] NULL,
	[Date_of_DisCharge] [datetime] NULL,
	[Createdby] [int] NULL,
	[Updatedby] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatetedTime] [datetime] NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PatientTypes]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTypes](
	[PTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PatientType] [nvarchar](50) NULL,
 CONSTRAINT [PK_PatientTypes] PRIMARY KEY CLUSTERED 
(
	[PTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReferalDoctor]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReferalDoctor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReferalDoctorName] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_ReferalDoctor] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RegisterdUsers]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegisterdUsers](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[UserTypeId] [int] NULL,
	[RoleId] [int] NULL,
	[EmailId] [nvarchar](50) NULL,
	[IsActive] [bit] NULL CONSTRAINT [DF_RegisterdUsers_IsActive]  DEFAULT ((0)),
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Updatedby] [int] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_RegisterdUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SettingInfo]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SettingInfo](
	[sno] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[TitleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_SettingInfo] PRIMARY KEY CLUSTERED 
(
	[sno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TabletAndDoses]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TabletAndDoses](
	[TabName] [nvarchar](500) NULL,
	[AppointmentId] [int] NULL,
	[TabType] [nvarchar](500) NULL,
	[Dosses] [nvarchar](500) NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NOT NULL,
	[CreatedDatetime] [datetime] NULL,
	[UpdatedDatetime] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_BillingMaster]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_BillingMaster](
	[BilIingId] [int] IDENTITY(1,1) NOT NULL,
	[PId] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[Paid] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 0) NULL,
	[Expenses] [decimal](18, 0) NULL,
	[ReferalPercentage] [decimal](18, 0) NULL,
	[ReferalAmount] [decimal](18, 0) NULL,
	[DUE] [decimal](18, 0) NULL,
	[CollectedById] [int] NULL,
	[BillNumber] [varchar](50) NULL,
	[Status] [bit] NULL CONSTRAINT [DF__tbl_Billi__Statu__3E1D39E1]  DEFAULT ((0)),
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK__tbl_Bill__4473BF9A68C9D675] PRIMARY KEY CLUSTERED 
(
	[BilIingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Doctor]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Doctor](
	[DocId] [int] IDENTITY(1,1) NOT NULL,
	[DoctorName] [varchar](50) NULL,
	[Specilization] [varchar](max) NULL,
	[Signature] [varchar](max) NULL,
	[EmailId] [varchar](50) NULL,
	[Qualification] [varchar](max) NULL,
	[DoctorPhoto] [varchar](max) NULL,
	[ContactNumber] [varchar](50) NULL,
	[Address1] [varchar](max) NULL,
	[Address2] [varchar](max) NULL,
	[Address3] [varchar](max) NULL,
	[MobileAdd1] [varchar](50) NULL,
	[MobileAdd2] [varchar](50) NULL,
	[MobileAdd3] [varchar](50) NULL,
	[DayAndTime1] [varchar](max) NULL,
	[DayAndTime2] [varchar](max) NULL,
	[DayAndTime3] [varchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_Doctor_1] PRIMARY KEY CLUSTERED 
(
	[DocId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_UserLogin]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_UserLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Passward] [varchar](50) NULL,
	[Status] [bit] NULL,
	[Center] [varchar](50) NULL,
	[MobileNo] [varchar](50) NULL,
	[Qualification] [varchar](500) NULL,
	[DOJ] [varchar](50) NULL,
	[Experience] [varchar](500) NULL,
	[UID] [varchar](500) NULL,
	[Address] [varchar](max) NULL,
	[CollectedByUser] [varchar](500) NULL,
	[RoleId] [int] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tbl_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tble_Dictionary]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tble_Dictionary](
	[DictionaryId] [int] IDENTITY(1,1) NOT NULL,
	[Dictionary] [varchar](max) NULL,
 CONSTRAINT [PK_tble_Dictionary] PRIMARY KEY CLUSTERED 
(
	[DictionaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tble_Employee]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tble_Employee](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedOn] [datetime] NULL,
 CONSTRAINT [PK_tble_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tble_TabletDosesForm]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tble_TabletDosesForm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Doses] [varchar](max) NULL,
 CONSTRAINT [PK_tble_TabletDosesForm] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tble_TabletTypeForm]    Script Date: 7/9/2022 6:58:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tble_TabletTypeForm](
	[TabletFormId] [int] IDENTITY(1,1) NOT NULL,
	[TabletForm] [varchar](50) NULL,
 CONSTRAINT [PK_tble_TabletTypeForm] PRIMARY KEY CLUSTERED 
(
	[TabletFormId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (1, 1, 1, 500.09, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (2, 23, 38, 200, NULL, NULL, NULL, 1, NULL, CAST(N'2018-11-11 22:59:52.817' AS DateTime), NULL)
INSERT [dbo].[Account] ([BillId], [DrId], [PatId], [TotalAmount], [DR_Percentage], [Referal_Percentage], [NetAmount], [Createdby], [UpdatedBy], [Createddate], [Updateddate]) VALUES (1002, 25, 1022, 200, NULL, NULL, NULL, 1, NULL, CAST(N'2018-11-17 02:14:40.297' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[Appointment] ON 

INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (3003, 1234, 25, CAST(N'2018-12-02 02:18:45.920' AS DateTime), N'2pm', CAST(N'2018-12-02 02:18:45.920' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (3004, 2021, 25, CAST(N'2018-12-02 02:53:09.517' AS DateTime), N'2pm', CAST(N'2018-12-02 02:53:09.517' AS DateTime), 1, NULL, NULL)
INSERT [dbo].[Appointment] ([AppointmentId], [PId], [Did], [DateOfAppointment], [TimeOfAppointment], [CreationDate], [CreatedBy], [UpdatedBy], [UpdationDate]) VALUES (4003, 3021, 23, CAST(N'2018-12-09 02:50:11.533' AS DateTime), N'2pm', CAST(N'2018-12-09 02:50:11.533' AS DateTime), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Appointment] OFF
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (1, N'Md yawar ali', NULL, N'amair@gmail.com', N'9160020272', N'987654234455', N'Jubli hills Hyderabad')
INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (2, N'Shaik aijaz Ahmed', NULL, N'Ajaiz18@hotmail.com', N'123456', N'234567', N'Noor pasha masjid,hyderabad,opposite of sky school')
INSERT [dbo].[Contacts] ([ContactId], [ContactName], [Designation], [EmailId], [PhoneNo1], [PhoneNo2], [Address]) VALUES (3, N'sami', NULL, N'sami@gmail.com', N'12345566', N'23434234234', N'Noor pasha masjid,hyderabad,opposite of sky school')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[DiognasisTest] ON 

INSERT [dbo].[DiognasisTest] ([TestId], [TestName], [Description], [IsChecked]) VALUES (1, N'FAD', N'FAD', 1)
INSERT [dbo].[DiognasisTest] ([TestId], [TestName], [Description], [IsChecked]) VALUES (2, N'Tad', N'Tad', 1)
SET IDENTITY_INSERT [dbo].[DiognasisTest] OFF
SET IDENTITY_INSERT [dbo].[Diseasses] ON 

INSERT [dbo].[Diseasses] ([DisseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (1, N'Resuscitation', N'Resuscitation2', NULL, NULL, 1, CAST(N'2022-05-15 07:52:53.470' AS DateTime))
INSERT [dbo].[Diseasses] ([DisseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (2, N'Respiratory distress', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Diseasses] ([DisseasesId], [DisseaseName], [Description], [CreatedBy], [CreationDate], [UpdatedBy], [UpdatedDate]) VALUES (3, N'Apnoea', NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Diseasses] OFF
SET IDENTITY_INSERT [dbo].[Doctors] ON 

INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (23, N'Mr Azam', N'Azam@gmail.com', N'Male', N'MBBS', N'98772727', N'Heart', NULL, NULL, N'hyd', N'8pm-10pm', 1, CAST(N'2018-10-14 18:36:26.410' AS DateTime), 1, CAST(N'2019-10-26 08:32:59.560' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (24, N'Mr Ali', N'yawarali13@gmail.com', N'Male', N'MBBS', N'97654333', N'Cancer', NULL, CAST(N'2018-10-14 00:00:00.000' AS DateTime), N'hyderabad', NULL, 1, CAST(N'2018-10-14 18:38:16.920' AS DateTime), 1, CAST(N'2018-10-14 18:38:16.920' AS DateTime))
INSERT [dbo].[Doctors] ([DoctorId], [Name], [EmailId], [Gender], [Qualification], [Mobile], [Specialist], [Photo], [Date_of_joining], [Address], [Timing], [CreatedBy], [CreationDate], [UpdatedBy], [UpdationDate]) VALUES (25, N'Dr Aijaz Ahmed', N'Ahmed@gmail.com', N'Male', N'MABS', N'Ahmed@gmail.com', N'Cancer', NULL, NULL, N'hyderabad a', N'8pm-10pm', 1, CAST(N'2018-10-14 18:43:36.060' AS DateTime), 1, CAST(N'2019-01-26 14:51:52.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Doctors] OFF
SET IDENTITY_INSERT [dbo].[DosesDetail] ON 

INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (1, N'1/2  OD							  ')
INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (2, N'1/2     1/2 BID					  ')
INSERT [dbo].[DosesDetail] ([DoseId], [DosesName]) VALUES (3, N'1/2  1/2   1/2 TID				  ')
SET IDENTITY_INSERT [dbo].[DosesDetail] OFF
SET IDENTITY_INSERT [dbo].[GeneralPrescriptiom] ON 

INSERT [dbo].[GeneralPrescriptiom] ([Rpid], [Pid], [AppointmentId], [Did], [PTName], [Gender], [Age], [Ht], [WT], [ReferBy], [Complain], [History], [Dx], [Investigation], [Advice], [GC], [Temp], [PR], [LR], [BP], [SPO2], [PA], [CNS], [GRBS], [Review], [Emergency], [HR], [CreatedBy], [CreatedDatetime], [UpdatedBy], [Updateddatetime]) VALUES (1, 2021, NULL, 1, N'ferd', N',mn', N'asdf', N'nhn', N'sdff', N'asd', N'eerf', N'ddf', N'eef', N'fgg', N'ffee', N'dd', N'aa', N'dfdf', N'ffee', N'ddff', N'eaa', N'fff', N'eef', N'ddss', N'mfdk', N',jjjs', N'nnm', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[GeneralPrescriptiom] OFF
SET IDENTITY_INSERT [dbo].[InvestigationDetails] ON 

INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (1, N'CUE')
INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (2, N'Urine for Bile Salts & Bile Pigments')
INSERT [dbo].[InvestigationDetails] ([Id], [Invistagation]) VALUES (3, N' Urin for Ketone Bodies')
GO
SET IDENTITY_INSERT [dbo].[InvestigationDetails] OFF
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (1, N'Cap Augmentin 375mg', N'Amoxyln', 1, N'asdf', 1, CAST(N'2020-02-01 00:00:00.000' AS DateTime), 1, CAST(N'2020-02-01 00:00:00.000' AS DateTime))
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (2, N'Cap Augmentin 625mg', N'Amoxyln', 2, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (3, N'Tab Ampilox kid', N'Amoxyln', 2, N'RTI Entric Fever', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Medicine] ([MId], [MedicineName], [Formula], [DisseaseId], [Comment], [CreatedBy], [CreationDate], [UpdatedBy], [Updationdate]) VALUES (533, N'Tab
', N'Amoxyln', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Medicine] OFF
SET IDENTITY_INSERT [dbo].[Notepad] ON 

INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (1, N'Bismillah', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span></div>
Bismillah</div>
<div class="row">&nbsp;</div>
<div class="row">&nbsp;</div>
<div class="row">dgdfdgsdfg</div>')
INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (2, N'asdf', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;asdfasdf</div>
</div>')
INSERT [dbo].[Notepad] ([TopicId], [TopicName], [TopicContent]) VALUES (3, N'tim', N'<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
<div class="col-md-12" style="margin-left: 50px;">tim</div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
</div>')
SET IDENTITY_INSERT [dbo].[Notepad] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (1026, N'Huzayfa', 1, N'Dr.Jamal', N'34', N'Male', N'908765432', N'Shakker Gunj,Hyderabad', CAST(N'2018-11-18 19:46:15.020' AS DateTime), NULL, 1, 1, CAST(N'2018-11-18 19:46:15.020' AS DateTime), CAST(N'2018-11-18 19:46:15.020' AS DateTime))
INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (1027, N'javed', 1, N'Dr.Jamal', N'34', N'Male', N'908765432', N'Shakker Gunj,Hyderabad', CAST(N'2018-11-19 19:47:00.333' AS DateTime), NULL, 1, 1, CAST(N'2018-11-19 19:47:00.333' AS DateTime), CAST(N'2018-11-18 19:46:15.020' AS DateTime))
INSERT [dbo].[Patient] ([Pid], [PName], [PatientType], [ReferBy], [Age], [Gender], [MobileNo], [Address], [Date_of_Admission], [Date_of_DisCharge], [Createdby], [Updatedby], [CreatedDate], [UpdatetedTime]) VALUES (2021, N'IBrahim', 2, N'Dr Jamal', N'23', N'Male', N'98765434', N'Hyderabad', CAST(N'2018-12-02 02:52:34.817' AS DateTime), NULL, 1, NULL, CAST(N'2018-12-02 02:52:34.817' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PatientTypes] ON 

INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (1, N'IP')
INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (2, N'OP')
INSERT [dbo].[PatientTypes] ([PTypeId], [PatientType]) VALUES (3, N'Casulty')
SET IDENTITY_INSERT [dbo].[PatientTypes] OFF
SET IDENTITY_INSERT [dbo].[RegisterdUsers] ON 

INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1, N'Admin', N'Admin', 1, 1, N'yawarali17@gmail.com', 1, 1, CAST(N'2018-11-18 00:00:00.000' AS DateTime), 1, CAST(N'2018-12-09 04:05:30.480' AS DateTime))
INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1004, N'Ajaz', N'2688', 25, 2, N'ajaz2688@gmail.com', 1, 1, CAST(N'2018-12-02 00:59:06.500' AS DateTime), 1, CAST(N'2018-12-09 04:06:02.503' AS DateTime))
INSERT [dbo].[RegisterdUsers] ([UserId], [UserName], [Password], [UserTypeId], [RoleId], [EmailId], [IsActive], [CreatedBy], [CreatedDate], [Updatedby], [UpdatedDate]) VALUES (1005, N'azam', N'1234', 23, 2, N'yawarali17@gmail.com', 1, 1, CAST(N'2018-12-02 00:59:48.880' AS DateTime), 1, CAST(N'2018-12-09 04:06:20.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegisterdUsers] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Doctor')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Receptionist')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SettingInfo] ON 

INSERT [dbo].[SettingInfo] ([sno], [Logo], [TitleName]) VALUES (1, N'Hyder', N'
<div class="row">
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 28px; padding-left: 100px;"> DARULSHIFA POLY CLINIC </span><br /> <span style="font-weight: bold; font-size: 15px; padding-left: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Lab and Medical Facility Available Here,</strong> </span> <span style="font-weight: bold; font-size: 15px; padding-left: 0px;"> <strong>Hno:4-18-26/A,</strong></span></div>
<div class="col-md-12" style="margin-left: 50px;"><span style="font-weight: bold; font-size: 15px; padding-left: 0px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Opp. Noorani Masjid,</strong> Hassan Nagar,Hyderabad.</span><br /><br /></div>
<div class="col-md-12" style="margin-left: 50px;">&nbsp;</div>
</div>


')
SET IDENTITY_INSERT [dbo].[SettingInfo] OFF
SET IDENTITY_INSERT [dbo].[tbl_BillingMaster] ON 

INSERT [dbo].[tbl_BillingMaster] ([BilIingId], [PId], [Amount], [Paid], [Discount], [Expenses], [ReferalPercentage], [ReferalAmount], [DUE], [CollectedById], [BillNumber], [Status], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (1, 1, CAST(200.00 AS Decimal(18, 2)), NULL, CAST(12 AS Decimal(18, 0)), CAST(130 AS Decimal(18, 0)), CAST(60 AS Decimal(18, 0)), CAST(120 AS Decimal(18, 0)), CAST(122 AS Decimal(18, 0)), 1, N'32145', 1, 2, 1, CAST(N'2021-10-03 11:11:06.837' AS DateTime), CAST(N'2021-10-16 23:18:51.287' AS DateTime))
INSERT [dbo].[tbl_BillingMaster] ([BilIingId], [PId], [Amount], [Paid], [Discount], [Expenses], [ReferalPercentage], [ReferalAmount], [DUE], [CollectedById], [BillNumber], [Status], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (2, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 2, 2, CAST(N'2021-10-03 15:33:56.650' AS DateTime), CAST(N'2021-10-03 15:33:56.650' AS DateTime))
INSERT [dbo].[tbl_BillingMaster] ([BilIingId], [PId], [Amount], [Paid], [Discount], [Expenses], [ReferalPercentage], [ReferalAmount], [DUE], [CollectedById], [BillNumber], [Status], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (3, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 2, 2, CAST(N'2021-10-03 16:01:08.280' AS DateTime), CAST(N'2021-10-03 16:01:08.280' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_BillingMaster] OFF
SET IDENTITY_INSERT [dbo].[tbl_Doctor] ON 

SET IDENTITY_INSERT [dbo].[tbl_Doctor] OFF
SET IDENTITY_INSERT [dbo].[tbl_UserLogin] ON 

INSERT [dbo].[tbl_UserLogin] ([Id], [Name], [Email], [Passward], [Status], [Center], [MobileNo], [Qualification], [DOJ], [Experience], [UID], [Address], [CollectedByUser], [RoleId], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (1, N'Namrata', N'n@gmail.com', N'1234', 0, N'1', N'34343', N'mbbs', N'23 dec 2022', N'2', N'1234', N'Hyderabad', N'namu', 2, 1, 1, NULL, CAST(N'2022-04-20 03:40:16.187' AS DateTime))
INSERT [dbo].[tbl_UserLogin] ([Id], [Name], [Email], [Passward], [Status], [Center], [MobileNo], [Qualification], [DOJ], [Experience], [UID], [Address], [CollectedByUser], [RoleId], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (2, N'yawar', N'yawarali17@gmail.com', N'123', 1, N'hyd', N'34343', N'mbbs', N'23 dec 2022', N'2', N'1234', N'Hyderabad', N'namu', 1, 1, 1, CAST(N'2021-09-05 20:11:45.503' AS DateTime), CAST(N'2022-04-20 03:33:40.077' AS DateTime))
INSERT [dbo].[tbl_UserLogin] ([Id], [Name], [Email], [Passward], [Status], [Center], [MobileNo], [Qualification], [DOJ], [Experience], [UID], [Address], [CollectedByUser], [RoleId], [CreatedBy], [UpdatedBy], [CreatedOn], [UpdatedOn]) VALUES (3, N'Meghna', N'Meghna@gmail.com', N'123', 1, N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2, 1, 1, CAST(N'2021-09-06 02:21:23.810' AS DateTime), CAST(N'2022-05-01 06:01:53.883' AS DateTime))
SET IDENTITY_INSERT [dbo].[tbl_UserLogin] OFF
SET IDENTITY_INSERT [dbo].[tble_Dictionary] ON 

INSERT [dbo].[tble_Dictionary] ([DictionaryId], [Dictionary]) VALUES (1, N'it')
INSERT [dbo].[tble_Dictionary] ([DictionaryId], [Dictionary]) VALUES (2, N'the')
INSERT [dbo].[tble_Dictionary] ([DictionaryId], [Dictionary]) VALUES (3, N'problem')
SET IDENTITY_INSERT [dbo].[tble_Dictionary] OFF
SET IDENTITY_INSERT [dbo].[tble_TabletDosesForm] ON 

INSERT [dbo].[tble_TabletDosesForm] ([id], [Doses]) VALUES (1, N'(0--) One Cap Before BreakFast')
INSERT [dbo].[tble_TabletDosesForm] ([id], [Doses]) VALUES (2, N'(0--0) One tab  at 9am and 9pm')
SET IDENTITY_INSERT [dbo].[tble_TabletDosesForm] OFF
SET IDENTITY_INSERT [dbo].[tble_TabletTypeForm] ON 

INSERT [dbo].[tble_TabletTypeForm] ([TabletFormId], [TabletForm]) VALUES (1, N'Tab')
INSERT [dbo].[tble_TabletTypeForm] ([TabletFormId], [TabletForm]) VALUES (2, N'Cap')
INSERT [dbo].[tble_TabletTypeForm] ([TabletFormId], [TabletForm]) VALUES (3, N'Syrup')
SET IDENTITY_INSERT [dbo].[tble_TabletTypeForm] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uniqueEmail]    Script Date: 7/9/2022 6:58:48 AM ******/
ALTER TABLE [dbo].[tbl_UserLogin] ADD  CONSTRAINT [uniqueEmail] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddBillingTransaction]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddBillingTransaction]  
(  
   
   @ReportId varchar(500),
   @Pid varchar(500),
   @CreatedBy int ,  
   @UpdatedBy int 
)  
as  
begin 
 declare  @BillID int =0;
 declare @Description nvarchar(max)=Null
   select @BillID= MAX(BilIingId) from tbl_BillingMaster --where Pid=@Pid
   print @BillID
   Select @Description=Description from tbl_ReportType where Id=@ReportId
    Insert into tbl_BillingReport   
   (
BillId,
ReportId,
Description,
CreatedBy,
UpdatedBy,
CreatedOn,
UpdatedOn)
values(
@BillID,
@ReportId,
@Description, 
@CreatedBy,
@UpdatedBy,  
getdate(),
getdate()
)  

  select cast(@BillID as int)
  
End
 

 
 


GO
/****** Object:  StoredProcedure [dbo].[GetEmployees]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetEmployees]    
as    
begin    
   select Id as Empid,Name,City,Address from tbl_doc  
End 




GO
/****** Object:  StoredProcedure [dbo].[getHeaderReciept]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[getHeaderReciept]
  As
  BEGIN
  SELECT * from SettingInfo
  End

GO
/****** Object:  StoredProcedure [dbo].[getNotepadbyId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getNotepadbyId]
@TopicId int
As
BEGIN
select * from Notepad where TopicId=@TopicId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateAppointment]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE procedure [dbo].[sp_CreateAppointment]
  @DrId int
 ,@PatId int
 ,@TotalAmount float
 ,@timeAppoint varchar(50)
 ,@CreatedBy int 
 
  AS
  BEGIN
  


  insert into Account([DrId],[PatId],[TotalAmount],CreatedBy,CreatedDate) 
  values(@DrId,@PatId,@TotalAmount,@CreatedBy,convert(varchar, getdate(),13))

  Insert into Appointment(PId,Did,DateOfAppointment,TimeOfAppointment,CreatedBy,CreationDate)
  values(@PatId,@DrId,convert(varchar, getdate(),13),@timeAppoint,@CreatedBy,convert(varchar, getdate(),13))

  select @@IDENTITY as int 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Dissease_ById]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Delete_Dissease_ById]
@Id int 
As
Begin
Delete  from Diseasses Where DisseasesId=@Id
End

GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_Doctor]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Delete_Doctor]
@DoctorId int
As
Begin
Delete from Doctors where DoctorId=@DoctorId
End

GO
/****** Object:  StoredProcedure [dbo].[sp_delete_Medicine_byId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_delete_Medicine_byId]
@id int 
As
Begin
Delete
 from Medicine  
 
where MId=@id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDoctorsbyid]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteDoctorsbyid]
@id int
AS
BEGIN
DELETE from Doctors WHERE DoctorId=@id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_CountPatientByDrId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_CountPatientByDrId]
As
BEGIN
Select ap.Did,dr.Name,count(*) as PatientCount 
from Appointment ap left join Doctors dr
on ap.Did =dr.DoctorId
group by ap.Did,dr.Name
END


GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dashboard_Detail]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[sp_get_Dashboard_Detail]
As
BEGIN
--SELECT Count(*) as CurrentPatient  from Patient where  dateadd(d, datediff(d,0, CreatedDate), 0) = dateadd(d, datediff(d,0, GETDATE()), 0)
SELECT Count(*) as CurrentPatient  from Patient 

SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)  = dateadd(d, datediff(d,0, GETDATE()), 0)

select sum([TotalAmount]) as TotalEarning from Account where  cast(Createddate as date)=cast(GETDATE() as date)

END 


select * from account





GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dashboard_GetCountAppointmentByDRId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_get_Dashboard_GetCountAppointmentByDRId]
@Drid int=Null
,@fromdate nvarchar(50)
,@todate   nvarchar(50)
As
BEGIN
Declare @FromAppDate datetime
Declare @ToAppDate datetime

set @FromAppDate= dateadd(d, datediff(d,0,@fromdate), 0)
set @ToAppDate=dateadd(d, datediff(d,0,@todate), 0)

if not exists (Select * from Doctors where DoctorId = @Drid)
    Begin
            SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)
 between   @FromAppDate  and @ToAppDate
    End
Else
    Begin
           SELECT Count(*) as Appointment from Appointment where  dateadd(d, datediff(d,0, CreationDate), 0)
 between  @FromAppDate  and @ToAppDate and Did=@Drid
    End
 END 



GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dissease]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[sp_get_Dissease]
As
Begin
Select * from Diseasses
End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Dissease_ById]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_get_Dissease_ById]
@Id int 
As
Begin
Select * from Diseasses Where DisseasesId=@Id
End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Doctors]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_Doctors]

AS
BEGIN
SELECT * from Doctors    
END

GO
/****** Object:  StoredProcedure [dbo].[sp_get_Medicine]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_get_Medicine]
As
Begin
Select m.MId, m.MedicineName,m.Formula,m.Comment,m.CreatedBy,m.UpdatedBy,
d.DisseasesId,
d.DisseaseName
 from Medicine m
left join Diseasses d
on m.DisseaseId=d.DisseasesId
End
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Medicine_byId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[sp_get_Medicine_byId]
@id int 
As
Begin
Select m.MId, m.MedicineName,m.Formula,m.Comment,m.CreatedBy,m.UpdatedBy,
d.DisseasesId,
d.DisseaseName
 from Medicine m
left join Diseasses d
on m.DisseaseId=d.DisseasesId
where MId=@id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_get_Patient]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE Procedure [dbo].[sp_get_Patient]
  As
  Begin
  select pat.Pid,pat.PName,pat.Age,pat.gender,pat.ReferBy,ptype.PatientType,
  Pat.MobileNo,pat.Date_of_DisCharge,pat.address,pat.createdby,pat.CreatedDate,pat.Updatedby,pat.UpdatetedTime from Patient pat left outer
  join PatientTypes ptype
  on pat.Pid=ptype.PTypeId
  End

GO
/****** Object:  StoredProcedure [dbo].[sp_get_ROLES]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


  CREATE PROCEDURE [dbo].[sp_get_ROLES]
  AS
  BEGIN
  SELECT * FROM ROLES
  END


GO
/****** Object:  StoredProcedure [dbo].[sp_get_ViewLoginDetail]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[sp_get_ViewLoginDetail]
  AS
  BEGIN
  SELECT rg.UserId,rg.Password,rg.UserName,rg.RoleId,rg.IsActive,rl.RoleName,rg.CreatedDate,rg.UpdatedDate FROM RegisterdUsers rg
  LEFT JOIN Roles rl
  on rg.RoleId=rl.RoleId 
  END


GO
/****** Object:  StoredProcedure [dbo].[sp_getAppointment]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAppointment]
As
BEGIN
SELECT apt.AppointmentId,CONVERT(datetime, apt.DateOfAppointment, 103) as 'DateOfAppointment' ,apt.TimeOfAppointment,pat.Pid,pat.PName,Dt.Name  from Patient pat
INNER JOIN Appointment apt
on pat.Pid=apt.PId
INNER JOIN Doctors Dt
on dt.DoctorId=apt.Did


 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getAppointmentByDrId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getAppointmentByDrId]
@DRID Int=null
As
BEGIN
SELECT apt.AppointmentId,CONVERT(datetime, apt.DateOfAppointment, 103) as 'DateOfAppointment' ,
apt.TimeOfAppointment,pat.Pid,pat.PName,Dt.Name  from Patient pat
INNER JOIN Appointment apt
on pat.Pid=apt.PId
INNER JOIN Doctors Dt
on dt.DoctorId=apt.Did
Inner Join RegisterdUsers rg
on rg.UserTypeId=dt.DoctorId
where rg.usertypeid=@DRID
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getCurrentAccountDetailsByDrId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Procedure [dbo].[sp_getCurrentAccountDetailsByDrId]
 @Drid int=null
,@fromdate nvarchar(max)=null
,@todate   nvarchar(max)=null
As
BEGIN

if(@Drid is null)
    Begin
 
            SELECT sum(TotalAmount) as TotalEarning from Account where   cast(Createddate as date)  
 between   cast(@fromdate as date)  and   cast(@todate as date)
    End
 if(@Drid is not null and cast(@fromdate as date) is not null and cast(@todate as date) is not null )
    Begin
 
           SELECT sum(TotalAmount) as TotalEarning from Account where  cast(Createddate as date)  
 between cast(@fromdate as date)  and   cast(@todate as date) and DrId=@Drid
    End
	ELSE IF(@Drid is not null and @fromdate  is null and cast(@todate as date) is null)
 BEGIN
 
           SELECT sum(TotalAmount) as TotalEarning from Account where  DrId=@Drid
		   and cast(Createddate as date)=cast(GETDATE() as date)

 
 END 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getCurrentAppointmentByDrId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getCurrentAppointmentByDrId]
@DrId int 
As
Begin
  SELECT Count(*)as [CurrentAppointmentCount] from Appointment where  cast(CreationDate as date) 
     = cast(GETDATE() as date)
  and Did=@DrId
END


GO
/****** Object:  StoredProcedure [dbo].[sp_getDoctorName]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getDoctorName]
@searchText nvarchar(100)
As
Begin
  SELECT name,Specialist FROM [HospitalManagement].[dbo].[Doctors] where name like ''+@searchText+'%'  or Specialist like ''+@searchText+'%'
END





GO
/****** Object:  StoredProcedure [dbo].[sp_getDoctorsbyid]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getDoctorsbyid]
@id int
AS
BEGIN
SELECT * from Doctors WHERE DoctorId=@id
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getExistingPatientsByDrId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getExistingPatientsByDrId]
 @Drid int=null
,@fromdate nvarchar(max)=null
,@todate   nvarchar(max)=null
As
BEGIN

if(@Drid is null)
    Begin
	print 'Dr is null'
            SELECT Count(*) as CurrentPatient from Appointment where   cast(CreationDate as date)  
 between   cast(@fromdate as date)  and   cast(@todate as date)
    End
 if(@Drid is not null and cast(@fromdate as date) is not null and cast(@todate as date) is not null )
    Begin
	print 'ali1'
           SELECT Count(*) as CurrentPatient from Appointment where  cast(CreationDate as date)  
 between cast(@fromdate as date)  and   cast(@todate as date) and Did=@Drid
    End
	ELSE IF(@Drid is not null and @fromdate  is null and cast(@todate as date) is null)
 BEGIN
 print 'ali'
           SELECT Count(*) as CurrentPatient from Appointment where  Did=@Drid
		   and cast(CreationDate as date)  <cast(GETDATE() as date)

 
 END 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_getLogin]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getLogin]  (  @Email varchar(50),  @Passward varchar(50)  )  as  declare @Cnt int;  begin  if exists(select * from tbl_UserLogin where Email=@Email and Passward=@Passward)   begin   select * from tbl_UserLogin where Email=@Email and Passward=@Passward end  else   begin   set @Cnt=0;   end   select @Cnt;End





GO
/****** Object:  StoredProcedure [dbo].[sp_getLoginbyId]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_getLoginbyId]  (@id int)  as   Begin   select id as EmpId,
 Name,Email as emalid
,passward as password,
 RoleId,Status, Center as centerid, qualification, Experience, MobileNo, DOJ, UID,Address, CollectedByUser  from tbl_UserLogin  where id=@id  End





GO
/****** Object:  StoredProcedure [dbo].[sp_getLoginUsers]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getLoginUsers]
@UserName nvarchar(50),
@RoleId int null,
@Password nvarchar(50)
AS
BEGIN
SELECT * FROM RegisterdUsers WHERE UserName=@UserName and Password=@Password and RoleId=@RoleId
 
END


GO
/****** Object:  StoredProcedure [dbo].[sp_getMediciine]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getMediciine]
@DisseaseId int
,@MedicineName nvarchar(max)
,@Formula nvarchar(max)
,@Content nvarchar(max)
,@Mid int
As
BEGIN
update Medicine set MedicineName=@MedicineName,Formula=@Formula,Comment=@content ,DisseaseId=@disseaseId

where MId=@Mid

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetNotepad]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[sp_GetNotepad]
  
  AS
  BEGIN
SELECT * From Notepad 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Dissease]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insert_Dissease]
@DisseaseName nvarchar(max),
@Description nvarchar(max),
@CreatedBy int,
@UpdatedBy int
As
Begin
Insert into Diseasses(DisseaseName,Description,CreatedBy,CreationDate,UpdatedBy,UpdatedDate) values(@DisseaseName,@Description,@CreatedBy,GETDATE(),@UpdatedBy,GETDATE())
select @@IDENTITY as int
End

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_LoginUsers]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_insert_LoginUsers]
@UserName varchar(50),
@Password varchar(50),
@RoleId int,
@UserTypeId int,
@EmailId varchar(50), 
@IsActive bit,
@CreatedBy int,

@Updatedby int

AS
BEGIN

Declare @CheckUserName varchar(50)
select @CheckUserName= Count(*)  from RegisterdUsers Where UserName=@UserName
if(@CheckUserName<1)
INSERT INTO RegisterdUsers(UserName,Password,RoleId,UserTypeId,EmailId,IsActive,CreatedBy,CreatedDate,Updatedby,UpdatedDate)
values(@UserName,@Password,@RoleId,@UserTypeId,@EmailId,@IsActive,@CreatedBy,GETDATE(),@Updatedby,GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_Medicine]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Insert_Medicine]
@MedicineName nvarchar(max),
@Formula nvarchar(max),
@DisseaseId int,
@Comment nvarchar(max),
@CreatedBy int,
@UpdatedBy int
As
Begin
Insert into Medicine(MedicineName,Formula,DisseaseId,Comment,CreatedBy,CreationDate,UpdatedBy,Updationdate) values(@MedicineName,@Formula,@DisseaseId,@Comment,@CreatedBy,GETDATE(),@UpdatedBy,GETDATE())
select @@IDENTITY as int
End

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_TabandDoses]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE procedure [dbo].[sp_insert_TabandDoses]
 @Pid int=null
 ,@TabNmae varchar(100)=null
 ,@Rpid int=null
 ,@Doses nvarchar(100)
 ,@createdBy int 
 ,@UpdatedBy int
 ,@CreatedDatetime datetime
 ,@UpdateDatetime datetime
  AS
  BEGIN
  INSERT INTO TabletAndDoses(pid,TabName,Rpid,Dosses,CreatedBy,UpdatedBy,CreatedDatetime,UpdatedDatetime)
  Values(@Pid,@TabNmae,@Rpid,@Doses,@createdBy,@UpdatedBy,@CreatedDatetime,@UpdateDatetime)
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDoctors]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertDoctors]
   @name nvarchar(50)
  ,@emailid nvarchar(50)
  ,@mobileno nvarchar(50)
  ,@gender nvarchar(50)
  ,@specialist nvarchar(50)
  ,@date_of_joining datetime
  ,@qualification nvarchar(max)
  ,@address nvarchar(max)
  ,@Timing nvarchar(50)
  ,@CreatedBy int
   ,@UpdatedBy int
   
  As
  BEGIN
  Insert into Doctors(Name,Gender,EmailId,Mobile,Qualification,Specialist,Date_of_joining,Address,Timing,CreatedBy,UpdatedBy,CreationDate,UpdationDate)values
  (@Name,@gender,@EmailId,@MobileNo,@Qualification,@Specialist,@Date_of_joining,@Address,@Timing,@CreatedBy,@UpdatedBy,GETDATE(),GETDATE())
  select @@IDENTITY as int
END


GO
/****** Object:  StoredProcedure [dbo].[sp_InsertNotepad]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[sp_InsertNotepad]
  @TopicName nvarchar(max)
 ,@TopicContent nvarchar(max)
  AS
  BEGIN
 Insert into Notepad(TopicName,TopicContent) Values(@TopicName,@TopicContent)
 
  END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPatient]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_InsertPatient]
   @Ptname nvarchar(50)
 
  ,@MobileNo nvarchar(50)
  ,@gender nvarchar(50)
  ,@PatientType int
  ,@Age varchar(50)
  ,@ReferBy nvarchar(50)
  ,@address nvarchar(max)
   ,@createdBy int
  
   
  As
  BEGIN
  Insert into Patient(PName,Gender,
  MobileNo,PatientType,Date_of_Admission,Address,ReferBy,age,CreatedBy,CreatedDate)values
  (@Ptname,@gender,@MobileNo,@PatientType,GETDATE(),@Address,@ReferBy,@Age,@CreatedBy,convert(varchar, getdate(), 13))
  select @@IDENTITY as int
END


GO
/****** Object:  StoredProcedure [dbo].[sp_insertPatientReport]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_insertPatientReport]
@Pid int=null,
@did int=null,
@ReferBy nvarchar(max)=null,
@PTName nvarchar(max)=null,
@Gender nvarchar(max)=null,
@HT nvarchar(max)=null,
@WT nvarchar(max)=null,
@Age nvarchar(max)=null,
@Complain nvarchar(max)=null,
@History nvarchar(max)=null,
@Dx nvarchar(max)=null,
@Investigation nvarchar(max),
@Advice nvarchar(max)=null,
@GC nvarchar(max)=null,
@Temp nvarchar(max)=null,
@PR nvarchar(max)=null,
@LR nvarchar(max)=null,
@BP nvarchar(max)=null,
@SPO2 nvarchar(max)=null,
@PA nvarchar(max)=null,
@CNS nvarchar(max)=null,
@GRBS nvarchar(max)=null,
@HR nvarchar(max)=null,
@CreatedBy nvarchar(max)=null,
@CreatedDatetime datetime=null,
@UpdatedBy int=null,
@Updateddatetime datetime=null,
@Emergency nvarchar(max)=null,
@Review nvarchar(max)=null
 
AS
BEGIN

insert into GeneralPrescriptiom(Pid,PtName,Gender,Age,Ht,Wt,ReferBy,Review,Emergency,did,Complain,History,Dx,Investigation,Advice,
GC,Temp,PR,LR,BP,SPO2,PA,CNS,GRBS,HR,CreatedBy,CreatedDatetime,UpdatedBy,Updateddatetime)
Values(@Pid,@PtName,@Gender,@Age,@Ht,@Wt,@ReferBy,@Review,@Emergency,@did,@Complain,@History,@Dx,@Investigation,@Advice,
@GC,@Temp,@PR,@LR,@BP,@SPO2,@PA,@CNS,@GRBS,@HR,@CreatedBy,@CreatedDatetime,@UpdatedBy,@Updateddatetime)

select @@IDENTITY as int 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_insertTabandDoses]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_insertTabandDoses]
@AppointmentId int=null,
@TABNAME nvarchar(150)=null,
@TabType nvarchar(500)=null,
@Dosses varchar(100)=null,
@CREATEDBY int=null,
@updatedBy int=null

AS
BEGIN
INSERT into TabletAndDoses(AppointmentId,TabType,TabName,Dosses,CreatedBy,CreatedDatetime,UpdatedBy,UpdatedDatetime)values(@AppointmentId,@TabType,@TabName,@Dosses,@CreatedBy,GETDATE(),@updatedBy,GETDATE())
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ReferDoctorById]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ReferDoctorById] @Rid int  AS   BEGIN  SELECT *  FROM [SUNDIGNOSTIC].[dbo].tbl_Doctor     where DocId=@Rid  END

GO
/****** Object:  StoredProcedure [dbo].[sp_TabletDosesNameForm]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TabletDosesNameForm]
AS
BEGIN
SELECT Doses FROM [dbo].[tble_TabletDosesForm]
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TabletMedicineNameForm]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TabletMedicineNameForm]
AS
BEGIN
SELECT MedicineName FROM [dbo].[Medicine]
END

GO
/****** Object:  StoredProcedure [dbo].[sp_TabletTypeForm]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TabletTypeForm]
AS
BEGIN
SELECT TabletForm from tble_TabletTypeForm
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Dissease_ById]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Update_Dissease_ById]
@Id int,
@DisseaseName nvarchar(max),
@Description nvarchar(max),
@UpdatedBy int 
As
Begin
Update Diseasses set DisseaseName=@DisseaseName,Description=@Description,UpdatedBy=@UpdatedBy,UpdatedDate=GETDATE() Where DisseasesId=@Id
End
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Doctors]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Update_Doctors]
   @name nvarchar(50)
  ,@emailid nvarchar(50)
  ,@mobileno nvarchar(50)
  ,@gender nvarchar(50)
  ,@specialist nvarchar(50)
  ,@date_of_joining datetime
  ,@qualification nvarchar(max)
  ,@address nvarchar(max)
  ,@Timing nvarchar(50)
  ,@CreatedBy int
   ,@UpdatedBy int
   ,@DoctorID int
  As
  BEGIN
  Update  Doctors set Name=@name,Gender=@gender,EmailId=@emailid,Mobile=@mobileno,Qualification=@qualification,Specialist=@specialist,Date_of_joining=@date_of_joining,Address=@address,Timing=@Timing,UpdatedBy=@UpdatedBy,UpdationDate=GETDATE() where DoctorID=@DoctorID
 
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Update_LoginUsers]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Update_LoginUsers]
@UserId int
AS
BEGIN
select * from RegisterdUsers where UserId=@UserId
END


GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Medicine]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[sp_Update_Medicine]
@Mid int,
@MedicineName nvarchar(max),
@Formula nvarchar(max),
@DisseaseId int,
@Comment nvarchar(max),
@UpdatedBy int
As
Begin
Update   Medicine set MedicineName=@MedicineName,
Formula=@Formula,DisseaseId=@DisseaseId,
Comment=@Comment,
UpdatedBy=@UpdatedBy,Updationdate=getdate() 
 where mid=@Mid
End

GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Notepad]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_Update_Notepad]
 @TopicId int
,@TopicName nvarchar(max)
,@TopicContent nvarchar(max)
As
BEGIN
Update Notepad set TopicName=@TopicName,TopicContent=@TopicContent  where TopicId=@TopicId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdatebyUserId_LoginUsers]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdatebyUserId_LoginUsers]
@userId int,
@UserName varchar(50),
@Password varchar(50),
@RoleId int,
@EmailId varchar(50), 
@IsActive bit,
@UserTypeId int,
@Updatedby int

AS
BEGIN
Update  RegisterdUsers set UserName=@UserName,Password=@Password,RoleId=@RoleId,UserTypeId=@UserTypeId,EmailId=@EmailId,
IsActive=@IsActive,Updatedby=@Updatedby,UpdatedDate=GETDATE() where UserId=@userId
 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoctors]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE Procedure [dbo].[sp_UpdateDoctors]
    @id int
   ,@Name nvarchar(50)
  ,@EmailId nvarchar(50)
  ,@MobileNo nvarchar(50)
  As
  BEGIN
  Update Doctors set Name=@Name,EmailId=@EmailId,Mobile=@MobileNo where DoctorId=@id
END


GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteEmployee]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DeleteEmployee]
@id int
As
BEGIN
Delete  from tbl_UserLogin where id=@id
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DoctorsInfo]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_DoctorsInfo]
@DoctorName varchar(50),
@Specilization varchar(50),
@Signature varchar(50),
@Qualification varchar(50),
@CreatedBy varchar(50),
@UpdatedBy varchar(50),
@Address1 varchar(max),
@Address2 varchar(max),
@Address3 varchar(max),
@MobileAdd1 varchar(50),
@MobileAdd2 varchar(50),
@MobileAdd3 varchar(50),
@EmailId varchar(50),
@ContactNumber varchar(50),
@DayAndTime1 varchar(max),
@DayAndTime2 varchar(max),
@DayAndTime3 varchar(max),
@Docid int=0
AS
BEGIN

IF(@Docid=0)
BEGIN
insert into tbl_Doctor
(
DoctorName,
Specilization,
Signature,
Qualification,
ContactNumber,
EmailId,
Address1,
Address2,
Address3,
DayAndTime1,
DayAndTime2,
DayAndTime3,
MobileAdd1,
MobileAdd2,
MobileAdd3,
CreatedBy,
CreatedOn,
UpdatedBy,
UpdatedOn)
values
(
@DoctorName,
@Specilization,
@Signature,
@Qualification,
@ContactNumber,
@EmailId,
@Address1,
@Address2,
@Address3,
@DayAndTime1,
@DayAndTime2,
@DayAndTime3,
@MobileAdd1,
@MobileAdd2,
@MobileAdd3,
@CreatedBy,
GETDATE(),
@UpdatedBy,
GETDATE())
End
Else 
BEGIN
Update tbl_Doctor
set 
DoctorName=@DoctorName,
Specilization=@Specilization,
Signature=@Signature,
Qualification=@Qualification,
ContactNumber=@ContactNumber,
EmailId=@EmailId,
Address1=@Address1,
Address2=@Address2,
Address3=@Address3,
DayAndTime1=@DayAndTime1,
DayAndTime2=@DayAndTime2,
DayAndTime3=@DayAndTime3,
MobileAdd1=@MobileAdd1,
MobileAdd2=@MobileAdd2,
MobileAdd3=@MobileAdd3,
UpdatedBy=@UpdatedBy,
UpdatedOn=GETDATE()
where docid=@Docid
End
END

GO
/****** Object:  StoredProcedure [dbo].[usp_getDoctorsDetail]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getDoctorsDetail]
As
BEGIN
Select
 docid,
 doctorName,
 Specilization,
 Signature,
 ContactNumber,
 createdby,
 updatedby,
 Address1,
 Address2,
 Address3,
 DayandTime1,
 DayandTime2,
 DayandTime3
 MobileAdd1,
 MobileAdd2,
 MobileAdd3,
 DoctorPhoto,
 CreatedBy,
 CreatedOn,
 UpdatedBy,
 UpdatedOn
 from [dbo].[tbl_Doctor]
 

  
 END


GO
/****** Object:  StoredProcedure [dbo].[usp_getDoctorsDetailById]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getDoctorsDetailById]
@Docid int
As
BEGIN
Select
 docid,
 doctorName,
 Specilization,
 Signature,
 ContactNumber,
 createdby,
 updatedby,
 Address1,
 Address2,
 Address3,
 DayandTime1,
 DayandTime2,
 DayandTime3,
 MobileAdd1,
 MobileAdd2,
 MobileAdd3,
 Qualification,
 EmailId
 from [dbo].[tbl_Doctor]
 where docId=@Docid
 END


GO
/****** Object:  StoredProcedure [dbo].[usp_GetEmployees]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_GetEmployees]
As
Begin
select id as EmpId,
 Name,Email as emalid
,passward as password,
RoleId,Status,Center from tbl_UserLogin
End

GO
/****** Object:  StoredProcedure [dbo].[usp_getInsvestigation]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getInsvestigation]
AS
BEGIN
SELECT id,Invistagation FROM [dbo].[InvestigationDetails]
  END

GO
/****** Object:  StoredProcedure [dbo].[usp_getListDoctors]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getListDoctors]
As
BEGIN
Select
 doc.docid,
 doc.doctorName,
 doc.Specilization,
 doc.Signature,
 doc.ContactNumber,
 doc.Qualification,
 doc.createdby,
 doc.updatedby
 
 from [dbo].[tbl_Doctor] doc 
  
 END

GO
/****** Object:  StoredProcedure [dbo].[usp_getNotepad]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_getNotepad]
AS
BEGIN
SELECT * FROM Notepad
END

GO
/****** Object:  StoredProcedure [dbo].[usp_getUserLogin]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_getUserLogin](@Name varchar(50),@Email varchar(50),@Passward varchar(50),@RoleId int,@Status bit,@CenterId varchar(500),@Qualification varchar(500),@Experience varchar(500),@DOJ varchar(500),@MobileNo varchar(500),@UID varchar(500),@Address  varchar(500),@CollectedByUser varchar(500))AsBegininsert into tbl_UserLogin    ([Name],	Email,	Passward,	RoleId,	Status,	Center,	Qualification,	Experience,	DOJ,	UID,	address,	MobileNo,	CreatedOn,	UpdatedOn,	CollectedByUser)	values	(@Name,	 @Email,	 @Passward,	 @RoleId,	 @Status,	 @CenterId,	@Qualification,	@Experience,	@DOJ,	@UID,	@Address,	@MobileNo,	 GETDATE(),	 GETDATE(),	@CollectedByUser		 )		 End


GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateBilling]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_UpdateBilling]
@BillId int,
@Amount decimal(18,2),
@Discount decimal(18,2),
@Expenses decimal(18,2),
@ReferalAmount decimal(18,2),
@ReferalPercentage decimal(18,2),
@Status bit,
@DUE decimal(18,2),
@Paid decimal(18,2),
@UpdatedBy int
As
BEGIN
UPDATE [dbo].[tbl_BillingMaster] set 
Amount=@Amount,
Discount=@Discount,
Expenses=@Expenses,
ReferalAmount=@ReferalAmount,
ReferalPercentage=@ReferalPercentage,
Due=@DUE,
status=@Status,
paid=@Paid,
UpdatedOn=GetDate(),
UpdatedBy=@UpdatedBy
where BilIingId=@BillId
END

GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateBillingFromPatientScreen]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_UpdateBillingFromPatientScreen]
@BillId int,
@Amount decimal(18,2),
@Discount decimal(18,2),
@Paid decimal(18,2),
@DUE decimal(18,2),
@UpdatedBy int
As
BEGIN
UPDATE [dbo].[tbl_BillingMaster] set 
Amount=@Amount,
Discount=@Discount,
Due=@DUE,
Paid=@Paid,
UpdatedOn=GetDate(),
UpdatedBy=@UpdatedBy
where BilIingId=@BillId
END

GO
/****** Object:  StoredProcedure [dbo].[uspAddDoctor]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspAddDoctor] @DoctorName varchar(200),@CreatedBy int,@UpdatedBy int ASBEGIN	INSERT INTO  tbl_Doctor(DoctorName,	CreatedBy,	UpdatedBy,	CreatedOn,	UpdatedOn)	 values(	 @DoctorName,	 @CreatedBy,	 @UpdatedBy,	 GetDate(),	 GetDate())END


GO
/****** Object:  StoredProcedure [dbo].[uspDeleteDoctor]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDeleteDoctor]
 @DocId int 
AS
BEGIN
	Delete from tbl_Doctor  where DocId=@DocId
END


GO
/****** Object:  StoredProcedure [dbo].[uspGetDoctotList]    Script Date: 7/9/2022 6:58:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[uspGetDoctotList]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM tbl_Doctor
END



GO
USE [master]
GO
